/* Write your CSS here */
.footer_containernot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not_found_image {
  height: 450px;
  width: 500px;
}
.desc {
  font-size: 25px;
  font-family: 'roboto';
  color: #171f46;
}
.dark_desc_para {
  color: #ffffff;
}
